.features-split {

	.section-inner {
		padding-top: $features-split--padding-t__mobile;
		padding-bottom: $features-split--padding-b__mobile;
	}

	.section-header {
		padding-bottom: $features-split-header--padding__mobile;
	}
}

.tableau-graph {
	margin: auto;
}

.tableau-container {
	padding-top: 80px;
	padding-bottom: 80px;
}

.flex-container {
	display: flex;
	flex-direction: column;
}

.graph-dividers {
	margin-top: 24px;
}

.citations {
	font-size: 10px;
	margin-top: 24px;
}



@include media( '>medium' ) {

	.features-split {

		.section-inner {
			padding-top: $features-split--padding-t__desktop;
			padding-bottom: $features-split--padding-b__desktop;
		}

		.section-header {
			padding-bottom: $features-split-header--padding__desktop;
		}
	}
}
